.main-content {
  padding: 24px 30px;
}

.tabs-section {
  margin-bottom: 24px;
}

.custom-tabs .ant-tabs-nav {
  margin-bottom: 24px;
}

.custom-tabs .ant-tabs-tab {
  font-size: 16px;
  padding: 8px 20px;
}

.banners-section {
  display: flex;
  gap: 24px;
  margin: 0 24px;
}

.banner-left, .banner-right {
  border-radius: 8px;
  overflow: hidden;
}

.banner-left img, .banner-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title {
  font-size: 16px;
  color: #000;
  font-weight: 600;

}

.links-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px; /* Negative margin to offset card margins */
}

.custom-tabs {
  margin: 24px 30px;
  background: transparent;
}

.ant-tabs-tab {
  font-size: 16px !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1890ff !important;
}

.ant-tabs-nav {
  padding: 8px 0px;

}

@media (max-width: 768px) {
  .links-grid {
    padding: 0 16px;
  }
  
  .section-title {
    padding: 0 16px;
  }
  
  .banners-section {
    flex-direction: column;
    margin: 24px 16px;
  }
}

